/* .ui.fixed.menu {
    background-color: #4CAF50; 
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.ui.container.center {
    text-align: center;
    display: grid;
}

h2 {
    font-size: 2em;
    color: #fff; 
  
} */
